*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    body {
        background: linear-gradient(
            120deg,
            #020024,
            #0b2cff,
            #0066ff,
            #0b2cff,
            #020024
        );
        background-size: 400% 400%;
        animation: gradientFlow 12s ease-in-out infinite;
    }

    @keyframes gradientFlow {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }